In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (10, 6)

Populating the interactive namespace from numpy and matplotlib

/Users/nickryan/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [35]:
# copy data fields table from https://www.kaggle.com/c/santander-product-recommendation/data
feature_dictionary = pd.read_clipboard(sep='\t')
feature_dictionary

              Column Name                                        Description
0              fecha_dato           The table is partitioned for this column
1                ncodpers                                      Customer code
2            ind_empleado  Employee index: A active, B ex employed, F fil...
3         pais_residencia                       Customer's Country residence
4                    sexo                                     Customer's sex
5                     age                                                Age
6              fecha_alta  The date in which the customer became as the f...
7               ind_nuevo  New customer Index. 1 if the customer register...
8              antiguedad                     Customer seniority (in months)
9                  indrel  1 (First/Primary), 99 (Primary customer during...
10         ult_fec_cli_1t  Last date as primary customer (if he isn't at ...
11            indrel_1mes  Customer type at the beginning of the month ,1...
12            tiprel_1mes  Customer relation type at the beginning of the...
13                indresi  Residence index (S (Yes) or N (No) if the resi...
14                 indext  Foreigner index (S (Yes) or N (No) if the cust...
15               conyuemp  Spouse index. 1 if the customer is spouse of a...
16          canal_entrada               channel used by the customer to join
17                indfall                                Deceased index. N/S
18                tipodom                    Addres type. 1, primary address
19               cod_prov                 Province code (customer's address)
20                nomprov                                      Province name
21  ind_actividad_cliente  Activity index (1, active customer; 0, inactiv...
22                  renta                      Gross income of the household
23               segmento  segmentation: 01 - VIP, 02 - Individuals 03 - ...
24      ind_ahor_fin_ult1                                     Saving Account
25      ind_aval_fin_ult1                                         Guarantees
26       ind_cco_fin_ult1                                   Current Accounts
27      ind_cder_fin_ult1                                   Derivada Account
28       ind_cno_fin_ult1                                    Payroll Account
29      ind_ctju_fin_ult1                                     Junior Account
30      ind_ctma_fin_ult1                             Más particular Account
31      ind_ctop_fin_ult1                                 particular Account
32      ind_ctpp_fin_ult1                            particular Plus Account
33      ind_deco_fin_ult1                                Short-term deposits
34      ind_deme_fin_ult1                               Medium-term deposits
35      ind_dela_fin_ult1                                 Long-term deposits
36      ind_ecue_fin_ult1                                          e-account
37      ind_fond_fin_ult1                                              Funds
38       ind_hip_fin_ult1                                           Mortgage
39      ind_plan_fin_ult1                                           Pensions
40      ind_pres_fin_ult1                                              Loans
41      ind_reca_fin_ult1                                              Taxes
42      ind_tjcr_fin_ult1                                        Credit Card
43      ind_valo_fin_ult1                                         Securities
44       ind_viv_fin_ult1                                       Home Account
45        ind_nomina_ult1                                            Payroll
46      ind_nom_pens_ult1                                           Pensions
47        ind_recibo_ult1                                       Direct Debit

In [40]:
limit_rows   = 7000000
df           = pd.read_csv("train_ver2.csv",dtype={"sexo":str,
                                                    "ind_nuevo":str,
                                                    "ult_fec_cli_1t":str,
                                                    "indext":str}, nrows=limit_rows)
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [41]:
# get sample of 10,000 unique accounts
unique_ids   = pd.Series(df["ncodpers"].unique())
limit_people = 1e4
unique_id    = unique_ids.sample(n=limit_people)
df           = df[df.ncodpers.isin(unique_id)]
df.describe()

,ncodpers,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,7.764100e+04,77403.000000,77403.0,77025.000000,77403.000000,6.403100e+04,77641.000000,77641.000000,77641.000000,77641.000000,...,77641.000000,77641.000000,77641.000000,77641.00000,77641.000000,77641.000000,77641.000000,77511.000000,77511.000000,77641.000000
mean,8.064360e+05,1.151932,1.0,26.452347,0.489684,1.311624e+05,0.000116,0.000116,0.696462,0.000077,...,0.006569,0.011566,0.003091,0.05501,0.051094,0.028245,0.003194,0.059230,0.063617,0.133061
std,4.217799e+05,3.855704,0.0,12.781885,0.499897,1.214636e+05,0.010766,0.010766,0.459788,0.008791,...,0.080781,0.106923,0.055512,0.22800,0.220191,0.165674,0.056427,0.236057,0.244071,0.339643
min,1.609000e+04,1.000000,1.0,1.000000,0.000000,6.875010e+03,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.218150e+05,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
50%,9.248640e+05,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
75%,1.171280e+06,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
max,1.495403e+06,99.000000,1.0,52.000000,1.000000,3.227687e+06,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [42]:
df["fecha_dato"] = pd.to_datetime(df["fecha_dato"],format="%Y-%m-%d")
df["fecha_alta"] = pd.to_datetime(df["fecha_alta"],format="%Y-%m-%d")
df["fecha_dato"].unique()

array(['2015-01-28T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-03-28T00:00:00.000000000', '2015-04-28T00:00:00.000000000',
       '2015-05-28T00:00:00.000000000', '2015-06-28T00:00:00.000000000',
       '2015-07-28T00:00:00.000000000', '2015-08-28T00:00:00.000000000',
       '2015-09-28T00:00:00.000000000', '2015-10-28T00:00:00.000000000'], dtype='datetime64[ns]')

In [43]:
df["month"] = pd.DatetimeIndex(df["fecha_dato"]).month
df["age"]   = pd.to_numeric(df["age"], errors="coerce")

In [44]:
df.isnull().any()

fecha_dato               False
ncodpers                 False
ind_empleado              True
pais_residencia           True
sexo                      True
age                       True
fecha_alta                True
ind_nuevo                 True
antiguedad               False
indrel                    True
ult_fec_cli_1t            True
indrel_1mes               True
tiprel_1mes               True
indresi                   True
indext                    True
conyuemp                  True
canal_entrada             True
indfall                   True
tipodom                   True
cod_prov                  True
nomprov                   True
ind_actividad_cliente     True
renta                     True
segmento                  True
ind_ahor_fin_ult1        False
ind_aval_fin_ult1        False
ind_cco_fin_ult1         False
ind_cder_fin_ult1        False
ind_cno_fin_ult1         False
ind_ctju_fin_ult1        False
ind_ctma_fin_ult1        False
ind_ctop_fin_ult1        False
ind_ctpp_fin_ult1        False
ind_deco_fin_ult1        False
ind_deme_fin_ult1        False
ind_dela_fin_ult1        False
ind_ecue_fin_ult1        False
ind_fond_fin_ult1        False
ind_hip_fin_ult1         False
ind_plan_fin_ult1        False
ind_pres_fin_ult1        False
ind_reca_fin_ult1        False
ind_tjcr_fin_ult1        False
ind_valo_fin_ult1        False
ind_viv_fin_ult1         False
ind_nomina_ult1           True
ind_nom_pens_ult1         True
ind_recibo_ult1          False
month                    False
dtype: bool